
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="text-center">
                    <h1>Belépés</h1>
                    <h6>Kérjük adja meg felhasználónevét és jelszavát</h6>
                </div>
                
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Felhasználónév</label>
                      <input type="text" class="form-control" 
                      formControlName="name"
                      id="exampleInputEmail1" aria-describedby="emailHelp">
                      
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Jelszó</label>
                      <input type="password" class="form-control" 
                      formControlName="password"
                      id="exampleInputPassword1">
                    </div>
                
                    <button type="submit" class="btn btn-primary">Belépés</button>
                  </form>
                
            </div>
        </div>
    </div>
</div>


